version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  uploader-service:
    build: ./uploader-service
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq
      - minio

  processor-service:
    build: ./processor-service
    depends_on:
      - rabbitmq
      - minio

volumes:
  minio-data:
